.DS_Store
node_modules/
.idea/
.vscode/
.env
.env.local
.env.development
.env.production
/.yarn/cache/
.vercel
dist/

# Hardhat files
project/cache/
project/artifacts/
project/typechain/
project/typechain-types/
coverage/
coverage.json
gas-report.txt